{% extends "base.html" %}
{% import "./_macros.html" as macros %}

{% block title %}作业管理系统{% endblock %}


{% block page_content %}
{% include 'auth/_course_manages.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.courseManage',query_term=query_term) }}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.modal-body').text('确定删除 作业'+$(e.relatedTarget).data('data')+' ？')
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });

</script>
{% endblock %}