{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}作业管理系统 - 报名信息填写{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>试听课报名</h1><h3>(2020暑假班)</h3>
    <p>信奥的基础班有试听课，其他报名请点击<a href="/select">正式报名</a></p>
</div>
<div class="col-md-5">
    {{ wtf.quick_form(form) }}
</div>
<script>
    function change() {
        let locationselect=document.getElementById("location").selectedIndex;
        if(locationselect==0) {
            let LinHaiFree={'0':'时段1(7.10 上午8:30～10:00)','1':'时段2(7.10 下午1:30～3:00)'};
            changeOption(LinHaiFree);
        }
        if(locationselect==1) {
            let JiaoJiangFree={'0':'时段1(7.8 上午8:30～10:00)','1':'时段2(7.8 下午1:30～3:00)'};
            changeOption(JiaoJiangFree);
        }
    }
    function changeOption(options){
        let obj=document.getElementById('course_level');
        obj.options.length=0;
        for(let k in options) {
            obj.options.add(new Option(options[k],k));
        }
        /*
        let opts=obj.getElementsByTagName("option");
        opts[1].selected = true;
         */
    }
</script>
{% endblock %}
